.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared css */
.width{
    max-width: 1440px;
    margin: 0 auto;
}
.primary-bg{
    background-color: rgba(229, 84, 115, 0.05);    
}
.secondary-color{
    color: #E55473;
}
.bg-green{
    background-color: rgba(186, 186, 186, 1);
}
.bg-blue{
    background-color: rgba(5, 151, 160, 0.15);
}
.bg-pink{
    background-color: rgba(167, 33, 98, 0.15);
}
.btn-primary{
    background-color: #E55473;
    color: #fff;
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
}
.section-title{
    font-weight: 800px;
    font-size: 2.6rem;
}
.section-description{
    font-size: 1.12rem;
    color: rgba(39, 39, 39, 0.6);
}


/* Banner style */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 97px;
    
}
.banner-content{
    width: 700px;
}
.banner-title{
    font-weight: 800px;
    font-size: 4rem;
    
}
.banner-img img{
    width: 630px;
}
/* featured style */
.feature{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    margin-top: 178px;
}
.featured-info{
    text-align: center;
}
.featured-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 48px;
    gap: 24px;
    text-align: center;
}
.feature-flower{
    padding: 110px 78px 0px 76px;
    border-radius: 47% 47% 0 0;
}
.feature-flower img{
    height: 470px;
    width: 315px;
}
.featured-img a{
    color: #272727;
    font-size: 1.5rem;
    font-weight: bold;
}

/* support section */
.support{
    margin-top: 128px;

}
.delivery-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgba(39, 39, 39, 0.05);
    padding: 85px 175px ;
    border-radius: 8px;
}
.delivery-img-card{
    margin: 0 auto;
}

/* Sale section */
.sale{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 186px;
    margin-top: 128px;
    
    
}
.sale-content{
    width: 590px;
    text-align: center;
}
.sale-img img{
    padding: 100px 0;
}
/* Instagram section */
.instagram{
    margin-top: 128px;
}
.instagram-content{
    text-align: center;
    width: 594px;
    margin: 0 auto;
}
.instagram-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    border-radius: 8px;
 
}






/* responsive for mobile device */
@media screen and (max-width:576px) {
    /* banner */
    .banner,
    .sale{
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }
    .banner-content,
    .sale-content,
    .instagram-content{
        margin: 0 auto;
        width: 100%;
    }
    .banner-title{
        font-size: 3.5rem;
    }
    .banner-img img{
        width: 100%;
    }
    /* featured */
    .featured-img,
    .delivery-img,
    .instagram-img{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-flower,
    .instagram-img{
        padding: 90px 30px 0px 30px;
    }

    /* support section */
    .delivery-img{
        gap: 50px;
    }

    /* Sale section */


}




/* responsive for medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    /* banner */
    .banner{
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }
    .banner-content{
        margin: 0 auto;
        width: 100%;
    }
    .banner-title{
        font-size: 3.5rem;
    }
    .banner-img img{
        width: 100%;
    }

    /* featured */
    .featured-img,
    .instagram-img{
        grid-template-columns: repeat(2,1fr);
    }
    .feature-flower{
        padding: 90px 30px 0px 30px;
    }

    /* support section */
    .delivery-img{
        gap: 50px;
    }

    /* instagram section */
    .instagram-content{
        width: 100%;
    }
    .instagram-img img {
        width: 100%;
    }
}